  .card {
    width: 90%;
    background-color: #f8f8f8;
    /* Warna card */
    padding: 1em;
    border-radius: 8px;
    /* Border radius card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
  }

  h2 {
    text-align: center;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  input {
    padding: 0.75em;
    margin-bottom: 0.5em;
    border: 2px solid #ddd;
    /* Border color input */
    border-radius: 8px;
    /* Border radius input */
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #333;
    background-color: #f4f4f4;
    /* Warna input */
  }

  input:focus {
    border-color: #ff9900;
    /* Warna input saat focus */
  }

  button {
    background-color: #ff9900;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    /* Border radius button */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
  }

  button:hover {
    background-color: #ff6600;
  }

  .backdrop {
    position: fixed;
    background-color: rgba(10, 10, 10, 0.377);
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.resend-2fa{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}
.resend-2fa>input{
  box-sizing: border-box;
  padding: 8px;
  width: 50%;
  max-width: 320px;
}


button:disabled{
  background-color: #d17e03c9;
  cursor: not-allowed;

}