<div class="card">
  <h2>Sign Up</h2>
  <form (submit)="handleSubmit($event)">
    <input
      type="text"
      id="username"
      name="username"
      placeholder="Username"
      required
    />
    <input type="email" id="email" name="email" placeholder="Email ID" />
    <input type="phone" id="phone" name="phone" placeholder="Phone Number" />
   <app-password-input placeholder="Password" id="password" name="password"></app-password-input>
   <app-password-input placeholder="Confirm Password" id="conf-password" name="confirmPassword"></app-password-input>
    <button type="submit">Sign up</button>
  </form>
  <div>
    <span>Already have an account? </span>
    <a routerLink="/login">Login</a>
  </div>
</div>
